@font-face {
  font-family: PT Sans Narrow;
  src: url(fonts/PTC55F.ttf);
  src: url(fonts/PTC75F.ttf);
  src: url(fonts/PTN57F.ttf);
  src: url(fonts/PTN77F.ttf);
  src: url(fonts/PTS55F.ttf);
  src: url(fonts/PTS56F.ttf);
  src: url(fonts/PTS75F.ttf);
  src: url(fonts/PTS76F.ttf);
  font-style: normal;
  font-weight: normal;

  
}
body {
  min-width: 1122px;
  min-height: 1170px;
  font-size: 14px;
  line-height: 1;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Narrow, serif;
  font-style: normal;
  background: #969696;

}
.feature-name {
  font-size: 30px;
  line-height: 1.5;
  color: #f7f4f1;

}
.features-item p {
  color: #f7f4f1;

}
.index-title-cont {
  font-size: 30px;
  line-height: 1.5;
}

/*//////////////index grid*/ 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}
.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.main-header {
  margin-bottom: 60px;
}
.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}
.features-item:nth-child(3) {
  margin-right: 0;
}
.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  
}

.index-content-left {
  width: 380px;
  min-height: 330px;
  float: left;
}
.index-content-right {
  width: 300px;
  float: right;
  min-height: 330px;
  
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts {
  width: 310px;
  min-height: 90px;
  float: left;
  margin-right: 60px;
}
.footer-social {
  width: 180px;
  min-height: 90px;
  float: left;
}
.footer-copyright {
  width: 180px;
  min-height: 90px;
  float: right;
}
/* ////////////////////*/
.catalog-logo,
.item-logo {
  width: 111px;
  height: 24px;
}
.catalog-navigation,
.item-navigation {
  width: 650px;
  float: left;
}
.breadcrumbs-catalog {
  width: 300px;
  min-height: 70px;
  margin-bottom: 60px;
}
.content-filters {
  width: 180px;
  min-height: 570px;
  float: left;
}
.catalog-content-goods {
  width: 710px;
  min-height: 595px;
  float: right;
}
  
  

.article-product {
  vertical-align: top;
  display: inline-block;
  width: 220px;
  min-height: 290px;
  margin-right: 20px;
}
.article-product:nth-child(3n) {
  margin-right: 0;
}
.paginator {
  margin-top: 60px;
}
.paginator li,
.catalog-navigation li,
.breadcrumbs-catalog li,
.main-navigation li,
.item-navigation li,
.breadcrumbs-item li
 {
  display: inline-block;
}
fieldset {
  min-height: 220px;
}
label {
  display: list-item;
  list-style: none;
}
 /*//////////////////*/

.breadcrumbs-item {
  width: 640px;
  min-height: 80px;
  margin-bottom: 60px;
}
.item-content-photos {
  width: 486px;
  min-height: 680px;
  float: left;
}
.main-photo {
  width: 486px;
  height: 524px;
  margin-bottom: 20px;
}
.item-photos {
  width: 486px;
  
}
.other-photos {
  
  width: 486px;
  font-size: 0;
}
.photo {
  display: inline-block;
  width: 160px;
  height: 175px;
}
.item-content-description {
  width: 420px;
  min-height: 680px;
  float: right;
  margin-right: 10px;
}
.item-content {
  margin-bottom: 35px;
}