body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Narrow, serif;
  background: #969696;
}
.feature-name {
  font-size: 30px;
  line-height: 42px;
  color: #f7f4f1;

}
.features-item p {
  color: #f7f4f1;

}
.index-title-cont {
  font-size: 30px;
  line-height: 42px;

}
